.contact-wrapper {
    padding: 24px;
    line-height: 1.6;
    max-width: 800px;
    margin: auto;

    h1 {
        font-size: 2rem; /* 32px */
        margin-bottom: 16px;
        color: #cc6a05;
    }

    p {
        font-size: 1.125rem;
        margin-bottom: 16px;
    }
}