.footer {
    background-color: #f2e9e2;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .social-media-links {
        width: 100%;
        text-align: center;

        .social-media-link {
            padding: 0 5px;
            transition: color 0.3s ease;

            &.facebook {
                color: #1877F2;

                &:hover {
                    color: #125BC0;
                }
            }

            &.instagram {
                color: #E4405F;

                &:hover {
                    color: #C13584;
                }
            }
        }
    }

    .copyrights {
        width: 100%;
        text-align: center;
    }
}

.dark {
    .footer {
        background-color: #201d1a;
    }
}